@font-face {
    font-family: 'Arsenal';
    src: local('Arsenal Regular'), local('Arsenal-Regular'),
        url('Arsenal-Regular.woff2') format('woff2'),
        url('Arsenal-Regular.woff') format('woff'),
        url('Arsenal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }