
#db {
    width: 95%;
    height: 150px;
    border: 3px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    position: relative; 
}

#b {
    right: 30px;
    bottom:-20px;
    font-size: 35px;
    position: absolute;
}

#b1 {
    left: 15px;
    top: 0px;
    font-size: 25px;
    position: absolute;
}

#b2 {
    left: 15px;
    top: 35px;
    font-size: 25px;
    position: absolute;
}

#b3 {
    left: 15px;
    bottom:-20px;
    font-size: 25px;
    position: absolute;
}       





.p {
position: absolute;
height: 100%;
width: 100%;
left: 0px;
top: 0px;

}
#edi1 
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
height: 50%;
width: 100%;
left: 0px;
top: 0px;
}

#edi2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    height: 50%;
    width: 100%;
    left: 0px;
    top: 50%;

    }

#dw {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    white-space: nowrap;
}

.g {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%,-65%);
    display: none;
}

#p p {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    white-space: nowrap;
}

#p {

    display: none;
}
