@import url("./fonts.css");
body {
 font-family:'Arsenal';
}

@keyframes move {
    0% {
        opacity: 1.0;
    }
    100%{
opacity: 0.1;
    }
}
.l {animation:  move 0.1s linear;} 
.ms  {

    width:50%;
    height: 100px;
    border: 6px;
    border-radius: 25px;
    border-color: black;
    border-style: solid;


}
#b {
    position: fixed;
    right: 10%;
    top: 1%;
}
#m1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    

    
}
#m2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#m3 {
    position: absolute;
    right: 25%;

}



#msw {
transition: transform 0.3s ease;
    top: 25%;
    position:relative;
}

#msw2 {
    display: none;
        transition: transform 0.3s ease;
        position:relative;
        top: 25%;
}
#msw3 {
    display: none;
        transition: transform 0.3s ease;
        position:relative;
        top: 25%;
}
#msw4 {
    display: none;
        transition: transform 0.3s ease;
        position:relative;
        top: 25%;
}
#frame1 {
    transition: transform 0.3s ease;
position: absolute;
top: 35%;
left: 50%;
width: 70%;
height: 50%;
transform: translate(-50%,10%);
border-radius: 30px;
border:5px;
border-color: black;
border-style: solid;
display: none;
}
#frame2 {
    transition: transform 0.3s ease;
position: absolute;
top: 35%;
left: 50%;
width: 80%;
height: 55%;
transform: translate(-50%,10%);
border-radius: 30px;
/*
border:5px;
border-color: black;
border-style: solid;
*/
display: none;
}
#frame3 {
    transition: transform 0.3s ease;
position: absolute;
top: 35%;
left: 50%;
width: 80%;
height: 50%;
transform: translate(-50%,10%);
border-radius: 30px;
border:5px;
border-color: black;
border-style: solid;
display: none;
}
#if1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 40%;
    bottom: 20%;
    border: none;
    border-radius: 15px;
    transition: transform 0.5s ease;
}
#if2 {

    width: 100%;
    height:100%;
    bottom: 20%;
    border: none;
    border-radius: 15px;
    transition: transform 0.5s ease;
}
#if3 {
width: 100%;
height: 100%;
border:none;
border-radius:15px;
}
#r{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 35%;
    border-radius: 20px;
    font-size: 30px;
    width: 200px;
    height: auto;
    background: rgb(42,132,214);
    background: radial-gradient(circle, rgba(42,132,214,1) 0%, rgba(12,11,32,1) 100%);
}

#q1 {
    position: fixed;
    left: -60px;
    width: 30px;
    height: 30px;
}
#q2 {
    position: fixed;
left: -30px;
    width: 30px;
    height: 30px;
}
#q3 {
    position: fixed;
left: 0px;
    width: 30px;
    height: 30px;
}
#q4 {
    position: fixed;
left: 30px;
    width: 30px;
    height: 30px;
}
#q {
    position: fixed;
    left: -60px;
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
}

#dwa {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 80%;
}

#Homes {
    transition: transform 0.3s ease;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 1%;
    width: auto;
    height: auto;
    font-size: 40px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    border: 3px;
    border-style: solid;
    background: rgb(157,29,254);
    background: linear-gradient( 180deg,rgba(157,29,254,1)  0%, rgba(42,132,214,1) 100%);
}
#Homestg {
    transition: transform 0.5s ease;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: -100px;
    width: auto;
    height:auto;
    font-size: 40px;
    display: none;
    text-align: center;
    border-radius: 15px;
    background: rgb(157,29,254);
    background: linear-gradient( 180deg,rgba(157,29,254,1)  0%, rgba(42,132,214,1) 100%);
}
#wa {
    text-decoration:none;

    color: black;
}
#Head {
        width: 180%; 
        height: 30%;
        border-radius: 0 0 50% 50%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%)
    
}
#Down {
    width: 180%; 
    height: 30%; 
background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(38,134,255,1) 100%);
    border-radius: 0 0 50% 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%)

}
 #version {
    
    position: fixed;
bottom: 1%;
    left:50%;
    transform: translate(-50%);
    width: 70%;
    height: auto;
    font-size: 35px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    border: 3px;
    border-style: solid
 }
 #daw {
    position: fixed;
bottom: 20%;
    left:50%;
    transform: translate(-50%);
    width: 95%;
    height: auto;
    font-size: 35px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    border: 3px;
    border-style: solid
 }
#buttgol {
    position: fixed;
    height: 100px;
    width: 95%;
    border: 3px;
    border-style: solid;
    border-color: black;
    transform: translate(-50%);
    left: 50%;
    bottom: 5%;
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
}


.half-width {
    height: auto;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    width: 45%;
    bottom: 20%;
    position: fixed; 
}

#butt1  {

    left: 10px;
}

#butt2 {
    right: 10px;

}
#dwb {
    width: 95%;
    height: auto;
    border: 3px;
    border-radius: 15px;
    border-style: solid;
    margin: 5px;
    position: relative; 
    text-align: center;
    font-size: 20px;
}

#db {
    width: 95%;
    height: 150px;
    border: 3px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    position: relative; 
}


#b1 {
    left: 15px;
    top: 0px;
    font-size: 25px;
    position: absolute;
}

#b2 {
    left: 15px;
    top: 35px;
    font-size: 25px;
    position: absolute;
}

#b3 {
    left: 15px;
    bottom:-20px;
    font-size: 25px;
    position: absolute;
}       



#buttid {
    position: fixed;
    height: 50px;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    font-size: 30px;
    border-radius: 25px;
}

#idclass {
    color: black;
    position: fixed;
    height: auto;
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    font-size: 40px;
    border-radius: 25px;
}

.p {
position: absolute;
height: 100%;
width: 100%;
left: 0px;
top: 0px;

}
#edi1 
{
position: absolute;
width: 95%;
left: 50%;
transform: translate(-50%);
top: 20px;
height: 120px;
text-align: center;
border-radius: 30px;
font-size: 37px;
border: 6px;
border-style: solid;
border-color: black;
}

#edi2 {
position: absolute;
width: 95%;
left: 50%;
transform: translate(-50%);
top: 160px;
height: 120px;
text-align: center;
border-radius: 30px;
font-size: 37px;
border: 6px;
border-style: solid;
border-color: black;
    }

#dw {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    white-space: nowrap;
}

.g {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%,-65%);
    display: none;
}

#p p {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    white-space: nowrap;
}

#w {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 37px;
    white-space: nowrap;
    text-align: center;
    border-radius: 15px;
    font-size: 37px;
    border: 6px;
    border-style: solid;
    border-color: black;
    display: none;
    width: 95%;
    height: 120px;

}

.j {
    

    position: fixed;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 37px;
    white-space: nowrap;
    border-radius: 25px;
    font-size: 37px;
    border: 7px;
    border-style: solid;
    border-color: black;
    display: none;
    width: 95%;
    height: 120px;

}
#p {

    display: none;
}


