@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family:'Roboto';
}

:root{
    --borderdat:15px;
    --color:rgb(27, 81, 162);
    --color_of_text:white;
    --bavkground:rgb(38, 83, 151);
    --full_color:rgba(35, 70, 136, 0.99);
    --bavkground_action:rgb(58 126 229);
}

@keyframes spin {
    from {
       
        transform:rotate(0deg)  ;
    }
    to {
        transform:rotate(360deg) ;
    }
}

@keyframes move {
    0% {
        opacity: 1.0;
    }
    100%{
opacity: 0.1;
    }
}
.l {animation:  move 0.1s linear;} 
.ms  {

    width:50%;
    height: 100px;
    border: 6px;
    border-radius: 25px;
    border-color: black;
    border-style: solid;


}
#b {
    position: absolute;
    right: 5%;
    bottom: -5%;
}
#m1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    

    
}
#m2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#m3 {
    position: absolute;
    right: 25%;

}


#reg-inp-name {
    
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    height: 10%;
    
    background-color: rgba(74, 123, 158, 0.5);
    width: 90%;
    transform: translate(-50%);
    font-size:25px;
    border-radius: 20px;
    text-align: center;
}


#reg-inp::placeholder {
color: rgba(255, 255, 255, 0.5);
}

#reg-inp-name::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#exti_butt {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    width: 90%;
    height: 50px;   
    border:none;
    background-color: white;
    border-bottom: 2px solid #333; /* Цвет и толщина нижней линии */
}

#fonse {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

#reg-inp {
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    height: 10%;
    width: 90%;
    transform: translate(-50%);
    font-size:25px;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
    
    background-color: rgba(74, 123, 158, 0.5);
}

#reg-butt
{
    
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 15%;
    border-radius: 20px;
    font-size: 30px;
    z-index: 1;
    background-color: rgba(74, 123, 158, 0.5);
}
#registration {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 85%;
    height: 65%;
    transform: translate(-50%,-45%);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    z-index: 2;
}

#exep {
    position: fixed;
    left: 5%;  
      top:  50%;
    transform: translate(0%,-50%);
    width: 95px;
    height: 90px;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(0, 0, 0);


}
#avatar {
    position: fixed;
    right: 5%;  
      top:  50%;
    transform: translate(0%,-50%);
    width: 12%;
    height: 70%;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(0, 0, 0);


}
#s1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3%;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 90%;
    height: 25%;
}


#user {
    position: relative;
    height: auto;
    margin: 15px;
}

#name {
    position: relative;
}


#avatars {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 50px;
    
    border-bottom: 2px solid #333; /* Цвет и толщина нижней линии */
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.Head-red {
position: absolute;
left: 50%;
transform: translate(-50%);
color: rgb(255, 255, 255);

white-space: nowrap;
}

#H-1 {
    top: 20%;
}
#H-2 {
    top: 30%;
}
#H-3 {
    top: 40%;
}
#H-4 {
    top: 50%;
}
#H-5 {
    top: 60%;
}


#strelka {

    position: fixed;
    left: -45%;
    bottom: 10px;
    width:  100px;
    height: 100px;
    
    transition: transform 0.5s ease;
}
#select {
    position: fixed;
    left: 15px;
    top:  50%;
    transform: translate(0%,-50%);
    width:  40px;
    height: 40px;
    transition: transform 0.5s ease;
}
#Head-zagolovok {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform 0.5s ease;
}

#bady {
    transition: opacity 0.3s ease;

}

.Head {
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: var(--bavkground);
    transition: 
      background-color 0.5s ease,
      transform 0.2s ease,
      left 0.5s ease,
      top 0.5s ease,
      border-radius 0.5s ease;
  }
.Sub_Head {
   
    position: fixed; 
    transition: 
      transform 0.2s ease,
      left 0.5s ease,
      top 0.5s ease;
    width: 120px;
    height: 150px;
    
    z-index: 3;
    
}

  
.select {
    position: relative;
    left: 50%;
    top:  50%;
    transform: translate(-50%,-50%);
    width:  40px;
    height: 40px;
    transition: transform 0.5s ease;
}

#Head {

    z-index: 1;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100%;
    height: 8%;
    background-color:var(--bavkground);
    transform: translate(-50%)
}
#Head-full {
    position: fixed;
    top: 0px;
    left:-100%;
    width: 98.5%;
    height: 100%;
    background-color:var(--full_color);
    transition: transform 0.5s ease;
}


#v{
    
    position: absolute;
top: 1000%;
    left:50%;
    transform: translate(-50%);
    width: 70%;
    height: auto;
    font-size: 25px;
    text-align: center;

 }

 #version {
    
    position: absolute;
bottom: 0%;
    left:50%;
    transform: translate(-50%);
    width: 70%;
    height: auto;
    font-size: 25px;
    text-align: center;
 }
 #versions {
    
    position: absolute;
bottom: 15%;
    left:50%;
    transform: translate(-50%);
    width: 90%;
    height: auto;
    font-size: 25px;
    text-align: center;
 }


#color-edit {
    position: absolute;
    top: 0%;
    left: 0%;
}
 #colors {
    width: 90%;
    height: 50px;
    right: 20px;
    top: 50px;
    position: absolute;
 }




 #colors_d {
left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 15px;

 }

#id1 {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
    
    white-space: nowrap;
}

#id2 {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-size: 25px;
}
#id3 {
    position:absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    
    white-space: nowrap;
}
#id4 {
    position:absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    
    white-space: nowrap;
}


#id5 {
    position:absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
    
    white-space: nowrap;
}


#settings {

    position: fixed;
    top: 10%;
    right: -50%;
    width: 130px;
    height: 100px;
    background-color: rgb(42, 75, 165);
    border-radius: 20px;
    transition: transform 0.5s ease;
}

#fone {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
    border-radius: 25px;
}

#if1 {

    width: 100%;
    height:100%;
    border: none;
    transition: transform 0.5s ease;


}
#if1s {
        position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 60%;
    top: 25%;    
    border: none;
    border-radius: 15px;
    transition: transform 0.5s ease;
z-index: -1;
}

#if2 {
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%);

    width: 95%;
    height:65%;
    border-radius: 15px;
    transition: transform 0.5s ease;

z-index: -1;

}
#if2s {
    width: 100%;
    height:100%;
    border: none;
    transition: transform 0.5s ease;



}
#if3 {

    width: 100%;
    height:100%;
    border: none;
    transition: transform 0.5s ease;


}

#if3s {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%);

z-index: -1;
    width: 95%;
    height:65%;
    bottom: 20%;
    border-radius: 15px;
    transition: transform 0.5s ease;



}

#if4 {
width: 100%;
    height:100%;
    border: none;
    transition: transform 0.5s ease;

}    
#if4s {

    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%);

    width: 99%;
    height:65%;
    bottom: 20%;
    border-radius: 15px;
    transition: transform 0.5s ease;

z-index: -1;

}



#if5 {
    width: 100%;
    height:70%;
    border: none;
    transition: transform 0.5s ease;

    }    



#if5s {

    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%);

    width: 95%;
    height:70%;
    bottom: 20%;
    border-radius: 15px;
    transition: transform 0.5s ease;

z-index: -1;

}



#r{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 35%;
    border-radius: 20px;
    font-size: 30px;
    width: 200px;
    height: auto;
    background: rgb(42,132,214);
    background: radial-gradient(circle, rgba(42,132,214,1) 0%, rgba(12,11,32,1) 100%);
}

#int {
    position: fixed;
    bottom: 5%;
    right: 5%;
display: none;
}

#q1 {
    position: fixed;
    bottom:20px;
    right: 10px;
    width: 30px;
    height: 30px;
}
#q2 {
    position: fixed;
    bottom:50px;
    right: 10px;
    width: 30px;
    height: 30px;
}
#q3 {
    position: fixed;
    bottom:80px;
    right: 10px;
    width: 30px;
    height: 30px;
}
#q4 {
    position: fixed;
    bottom:110px;
    right: 10px;
    width: 30px;
    height: 30px;
}
#ws {
    position: fixed;
    right: 10px;
    bottom: 110px;
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
}

#dwa {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 80%;
}

#Homes {
    transition: transform 0.3s ease;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 1%;
    width: auto;
    height: auto;
    font-size: 40px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    border: 3px;
    border-style: solid;
    background: rgb(157,29,254);
    background: linear-gradient( 180deg,rgba(157,29,254,1)  0%, rgba(42,132,214,1) 100%);
}
#Homestg {
    transition: transform 0.5s ease;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: -100px;
    width: auto;
    height:auto;
    font-size: 40px;
    display: none;
    text-align: center;
    border-radius: 15px;
    background: rgb(157,29,254);
    background: linear-gradient( 180deg,rgba(157,29,254,1)  0%, rgba(42,132,214,1) 100%);
}
#wa {
    text-decoration:none;

    color: black;
}

#Down {
    width: 180%; 
    height: 30%; 
background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(38,134,255,1) 100%);
    border-radius: 0 0 50% 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%)

}
 #daw {
    position: fixed;
bottom: 20%;
    left:50%;
    transform: translate(-50%);
    width: 95%;
    height: auto;
    font-size: 35px;
    text-align: center;
    border-radius: 15px;
    border-color: black;
    border: 3px;
    border-style: solid
 }
#buttgol {
    position: fixed;
    height: 100px;
    width: 95%;
    border: 3px;
    border-style: solid;
    border-color: black;
    transform: translate(-50%);
    left: 50%;
    bottom: 5%;
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
}


.half-width {
    height: auto;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    text-align: center;
    font-size: 30px;
    width: 45%;
    bottom: 20%;
    position: fixed; 
}

#butt1  {

    left: 10px;
}

#butt2 {
    right: 10px;

}
#dwb {
    width: 95%;
    height: auto;
    
    
    border-bottom: 2px solid #333; /* Цвет и толщина нижней линии */
    margin: 5px;
    position: relative; 
    text-align: center;
    font-size: 20px;
}

#db {
    width: 95%;
    height: 200px;
    border: 3px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    position: relative; 
}


#b1 {
    left: 15px;
    top: 0%;
    font-size: 25px;
    position: absolute;
}

#b2 {
    left: 15px;
    top: 36%;
    font-size: 25px;
    position: absolute;
}

#b3 {
    left: 15px;
    bottom:-20px;
    font-size: 25px;
    position: absolute;
}       



#buttid {
    position: fixed;
    height: 50px;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    font-size: 30px;
    border-radius: 25px;
}

#idclass {
    color: black;
    position: fixed;
    height: auto;
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    top: 1%;
    font-size: 40px;
    border-radius: 25px;
}

.p {
position: absolute;
height: 100%;
width: 100%;
left: 0px;
top: 0px;

}
#edi1 
{

    background-color: var(--color);
position: absolute;
width: 95%;
height: auto;
left: 50%;
transform: translate(-50%);
top: 20px;
text-align: center;
border-radius: var(--borderdat);
font-size: 37px;

word-wrap: break-word; 
display: none;

color: var(--color_of_text);

}

#edi2 {
height: auto;

color: var(--color_of_text);

word-wrap: break-word; 

    background-color:var(--color);
position: absolute;
width: 95%;
left: 50%;
transform: translate(-50%);
top: 40%;
text-align: center;
border-radius: var(--borderdat);
font-size: 37px;
display: none;

    }

#dw {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    white-space: nowrap;
}

.g {
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%,-65%);
    display: none;
}

#p p {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    white-space: nowrap;
}


#w {
    background-color: var(--color);
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 37px;
    border-radius: var(--borderdat);
    font-size: 37px;
    display: none;
    width: 95%;
    height: auto;
    color: var(--color_of_text);
    word-wrap: break-word; 
    transition: display 1s ease;
}
#p1,#p2 {

display: none;
}

.j {
    background-color: var(--color);
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-65%);
    font-size: 37px;
    border-radius: var(--borderdat);
    font-size: 37px;
    display: none;
    width: 95%;
    height: auto;
    
    color: var(--color_of_text);
    word-wrap: break-word; 

}
#p {

    display: none;
}

