
#block {
width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border:3px;
    border-style: solid;
    position: absolute;
    transition: transform 1s ease;
    border-radius: 15px;
    display: block;
    background-image: url('/img/logo.png');
  }





  
  #level {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.3;
  }
  #ushki {
    width: 100px;
    height: 120px;
    top: -30px;
left: 2px;
    position: absolute;

  display: none;
    background-image: url('/img/skins/ush.png');
  }
  #Record {
    position: absolute;
    top: 40px;
    right: 10px;
    opacity: 0.3;
  }
  #stone {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    transition: transform 1s ease;
    display: block;
    background-image: url('/img/stone.png');
    left: 200px;
    top: 400px;
  }


  
  #stone1 {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    transition: transform 1s ease;
    display: none;
    background-image: url('/img/stone.png');
    left: 200px;
    top: 400px;
  }

  #stone2 {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    transition: transform 1s ease;
    display: none;
    background-image: url('/img/stone.png');
    left: 200px;
    top: 400px;
  }
  /* CSS стили для анимации */
  @keyframes увеличение {
    0% { transform: scale(1); }
    50% { transform: scale(2); }
    100% { transform: scale(1); }
  }

/* Применение анимации к элементу */
.mic { animation: увеличение 1s ease-in-out; }

  #interworldly {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    transition: transform 1s ease;
    display: none;
    background-image: url('/img/j.png');
    
  }



  #stopmenu {
    display: none;
    width: 200px;
    height: 350px;
    background-color: rgb(255, 193, 149);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 15px;
  }

  #copy {
    position: relative;
    top: 30%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
  }
#textcopy {
  position: absolute;
  left: 10px;
  top: 50px;
  font-size: 30px;
}
#exit {
  position: relative;
  top: 45%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}
#textexit {
  position: absolute;
  left: 10px;
  top: 50px;
  font-size: 30px;
}
  #enemyopen {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    transition: transform 1s ease;
    left: 200px;
    top: 400px;
    background-image: url('/img/enemy_open.png');
  }
  @keyframes shake {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-5px, 5px);
    }
    20% {
      transform: translate(5px, -5px);
    }
    30% {
      transform: translate(-5px, -5px);
    }
    40% {
      transform: translate(5px, 5px);
    }
    50% {
      transform: translate(-5px, 5px);
    }
    60% {
      transform: translate(5px, -5px);
    }
    70% {
      transform: translate(-5px, -5px);
    }
    80% {
      transform: translate(5px, 5px);
    }
    90% {
      transform: translate(-5px, 5px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  /* Применяем анимацию к элементу */
  .d {
    animation: shake 0.5s infinite;
  }
  
  #enemy2 {
    border-radius: 15px;
    display: block;
    top: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: moveBlock 3s linear infinite;
    background-image: url('/img/enemy.png');
  }
  #enemy {
    border-radius: 15px;
    display: block;
    top: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: moveBlock 2s linear infinite;
    background-image: url('/img/enemy.png');
  }
  #enemy1 {
    border-radius: 15px;
    display: none;
    top: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: moveBlock 2.5s linear infinite;
    background-image: url('/img/enemy.png');
  }
  #end {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    position: absolute;
    display: block;
    bottom: 0px;
right: 0;
    background-image: url('/img/end.png');
  }
  #few {
    text-align: center;
    
  }

  
  @keyframes moveBlock {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 100px);
    }
    100% {
        left: 0;
      }
  }
  @media screen and (orientation: portrait) {
    .game {
      display: block;
    }
    #Hud{
      display: block;
    }
    #eror {
      display: none;
    }
      }
      @media screen and (orientation:landscape) {
        .game {
          display: none;
        }
        #Hud{
          display: none;
        }
        #eror {
          display: block;
        }
          }